@layer components {
    .Btn {
        @apply py-2;
        @apply inline-flex;
        @apply items-center;
        @apply px-5;
        @apply border;
        @apply text-base;
        @apply rounded-md;
        @apply font-bold;
        @apply no-underline;
        @apply transition;
        @apply ease-in-out;
        @apply duration-150;
        min-height: 42px;
        border-color: #EEEFEF;
        color: #6B757B;
        background-color: #EEEFEF;

        &.small {
            @apply text-sm;
        }
        
        &.compact {
            min-height: 34px;
            @apply text-sm;
            @apply py-1.5;
        }

        &:hover,
        &.hover {
            background-color: #E9E9E9;
            border-color: #E9E9E9;
            color: #373F46;
        }

        &:active,
        &.selected,
        &[aria-selected=true] {
        }

        &:disabled,
        &.disabled,
        &[aria-disabled=true] {
            cursor: default;
        }

        &:focus,
        &.focus {
            @apply outline-none;
        }
    }

    .Btn--primary {
        @apply text-white;
        background-color: #BA026E;
        border-color: #BA026E;

        &:hover,
        &.hover {
            @apply text-white;
            background-color: #880150;
            border-color: #880150;
        }

        &:active,
        &.selected,
        &[aria-selected=true] {

        }

        &:disabled,
        &.disabled,
        &[aria-disabled=true] {

        }

        &:focus,
        &.focus {

        }
    }

    .Btn--secondary {
        border-color: #D1D1D1;
        color: #0576BC;
        background-color: #FFFFFF;

        &:hover,
        &.hover {
            background-color: #FBFBFB;
            border-color: #B9BCBE;
            color: #013A72;
        }

        &:active,
        &.selected,
        &[aria-selected=true] {

        }

        &:disabled,
        &.disabled,
        &[aria-disabled=true] {

        }

        &:focus,
        &.focus {

        }
    }

    .Btn--pager {
        @apply text-white;
        background-color: #0072bb;
        border-color: #0072bb;

        &:hover,
        &.hover {
            @apply text-white;
            background-color: #0068a8;
            border-color: #0068a8;
        }

        &:active,
        &.selected,
        &[aria-selected=true] {

        }

        &:disabled,
        &.disabled,
        &[aria-disabled=true] {

        }

        &:focus,
        &.focus {

        }
    }

    .Btn--subtle {
        @apply font-normal;
        @apply bg-transparent;
        @apply border-transparent;
        @apply no-underline;
        color: #6B757B;

        &:hover,
        &.hover {
            @apply border-gray-100;
            @apply bg-gray-100;
            color: #373F46;
        }

        &:active,
        &.selected,
        &[aria-selected=true] {

        }

        &:disabled,
        &.disabled,
        &[aria-disabled=true] {

        }

        &:focus,
        &.focus {

        }
    }

    .Btn--link {
        @apply bg-transparent;
        @apply border-transparent;
        @apply no-underline;
        color: #0576BC;

        &:hover,
        &.hover {
            @apply bg-transparent;
            @apply border-transparent;
            @apply underline;
            color: #013A72;
        }

        &:active,
        &.selected,
        &[aria-selected=true] {

        }

        &:disabled,
        &.disabled,
        &[aria-disabled=true] {

        }

        &:focus,
        &.focus {

        }
    }

    .Btn--subtle-link {
        @apply font-normal;
        @apply bg-transparent;
        @apply border-transparent;
        @apply no-underline;
        color: #6B757B;

        &:hover,
        &.hover {
            @apply bg-transparent;
            @apply border-transparent;
            @apply underline;
            color: #373F46;
        }

        &:active,
        &.selected,
        &[aria-selected=true] {

        }

        &:disabled,
        &.disabled,
        &[aria-disabled=true] {

        }

        &:focus,
        &.focus {

        }
    }
}